* {
  margin: 0;
  padding: 0;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: white;
  /* background-image: url(./history.jpg); */
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: -100%;
  left: -100%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  color: aqua;
}

.navbar-link {
  margin: 10px;
}

.navbar-button {
  border: solid 1px;
  /* margin: 10px; */
  padding: 5px;
  color: black;
  text-decoration: none;
}

.navbar-anchor {
  border: solid 1px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: grab;
}
.navbar-link {
  margin: 10px;
  cursor: grab;
}

/* .navbar-anchor:hover {
    cursor: pointer;
  } */

.heading-4 {
  font-size: 10px;
  position: absolute;
  left: 50px;
  top: 0;
  letter-spacing: 10px;
  margin-top: 20px;
}

.main-footer {
  font-size: 10px;
  position: absolute;
  bottom: 1;
  top: 90vh;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -250px;
}
body {
  /* background-color: white; */
  font-family: "Cinzel", serif;
  /* font-size: 20px; */
  background-color: white;
}

.heading {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: white;
}

.image {
  display: flex;
  justify-content: center;
}

.img {
  width: 50%;
  padding: 1%;
}
.img-1 {
  width: 35vw;
  padding: 10px;
}
.header {
  display: flex;
  justify-content: center;
}

.about {
  width: 30vw;
  padding: 1%;
}

.text {
  display: flex;
  justify-content: center;
}

.button {
  padding: 1%;
  background-color: white;
}
.btn {
  /* background-color: white; */
  border: 3px solid white;
  text-decoration: none;
  padding: 10px;
  color: black;
}

.inner-container {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  /* background-color: white; */
  border: 3px solid white;
  text-decoration: none;
  padding: 10px;
  color: black;
}

/* skills */

.skill {
  width: 200px;
  /* border: 3px solid; */
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.icon {
  /* display: flex;
  justify-content: center; */
}

.skill-js {
  min-height: 300px;
}
.skill-python {
  min-height: 300px;
}
.skill-css {
  min-height: 300px;
}
.skill-html {
  min-height: 300px;
}

/* work and education */

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 30vh;
  margin-top: 10px;
  width: 85%;
  justify-content: center;
}

.card-body {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
  font-family: "Lora", serif;
  margin: 25px 0;
  min-height: 515px;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    /* flex-direction: row;
    flex-wrap: wrap; */
  }
  .card-body {
    margin: 25px 10px;
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .card-body {
    margin: 25px 15px;
    width: 30%;
  }
}
.content-img {
  height: 200px;
  overflow: hidden;
}
img {
  width: 25vw;
}
.card-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 315px;
  background-color: white;
}

@media (min-width: 768px) {
  .card-body .card-text {
    padding-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .card-body .card-text {
    margin-top: 25px;
    min-height: 250px;
    padding-bottom: 0;
  }
}
.card-text p.tag {
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  color: #898989;
  letter-spacing: 3px;
  margin-top: 5.5vh;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .card-text p.tag {
    margin-top: 3.5vh;
  }
}
.card-text h2 {
  font-size: 1.75rem;
  margin-top: 25px;
}
.text {
  font-size: 0.95rem;
  margin: 20px auto;
  text-align: center;
  width: 85%;
}

.read-more {
  background-color: white;
  /* border: 3px solid white; */
  text-decoration: none;
  padding: 10px;
  color: black;
}

/* .skill-js {
    min-height: 300px;
  }
  .skill-python {
    min-height: 300px;
  }
  .skill-css {
    min-height: 300px;
  }
  .skill-html {
    min-height: 300px;
  } */

/* text-rendering: optimizelegibility; */

/* footer */
.footer {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: larger;
  /* border: 3px solid black; */
  /* margin-bottom: -400px; */
  /* margin-left: -75; */
  background-color: #f2f2f2;
  /* background-color: white; */
}

.icons {
  display: flex;
  flex-direction: row;
  /* padding-top: 50px; */
  justify-content: center;
  margin-top: -50px;
  /* margin-left: -200px; */
}

.fab {
  padding: 10px;
  font-size: 5rem;
}

.fab-1 {
  padding: 10px;
  font-size: 2rem;
}

@media (max-width: 450px) {
  .dis {
    font-size: 10px;
  }

  .image {
    display: flex;
    justify-content: center;
  }
  .btn {
    margin-top: 50px;
  }
  .contain-1 {
    display: grid;
  }
  .skill-P {
    margin-left: 0px;
  }
  .skill-J {
    margin-left: 0px;
  }
  .skill-H {
    margin-right: 0px;
  }

  .item {
    width: 50vw;
  }
  .text-info {
    width: 50vw;
  }
  .img-4 {
    width: 45vw;
  }
  .text-info {
    /* font-size: 10px; */
    width: 30vh;
  }
  .text-2 {
    width: 80vw;
  }
  .text-1 {
    font-size: 20px;
    width: 70px;
  }
}

@media (max-width: 600px) {
  .dis {
    font-size: 10px;
  }

  .image {
    display: flex;
    justify-content: center;
  }
  .contain-1 {
    display: grid;
  }
  .skill-P {
    margin-left: 0px;
  }
  .skill-J {
    margin-left: 0px;
  }
  .skill-H {
    margin-right: 0px;
  }

  .item {
    width: 50vw;
  }
  .text-info {
    width: 30vh;
  }
  .img-4 {
    width: 45vw;
  }
}

@media (max-width: 601px) {
  .dis {
    font-size: 10px;
    height: 25vh;
  }

  .sub-texts {
    font-size: 4vw;
  }

  .item {
    width: 50vw;
  }
  .text-info {
    width: 50vh;
  }
  .img-3 {
    width: 35vw;
  }

  .img-4 {
    width: 45vw;
  }
  .text-2 {
    width: 59vw;
  }

  /* .contain-1 {
      width: 30vw;
    }
    .skill-P {
      width: 30vw;
    }
    .skill-J {
      width: 30vw;
    }
    .skill-H {
      width: 20vw;
    }
    .skill-C {
      width: 30vw;
    } */
}
