* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /* background-image: url(https://picsum.photos/id/237/1520);
  background-size: cover; */
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  margin-top: 20px;
}

.heading {
  display: contents;
}

body {
  background-color: black;
  color: white;
  font-family: "Cinzel", serif;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: black;
  color: white;
  /* background-image: url(./history.jpg); */
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: -100%;
  left: -100%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  color: aqua;
}

.navbar-link {
  margin: 10px;
}

.navbar-button {
  border: solid 1px;
  margin: 10px;
  padding: 5px;
  color: black;
  text-decoration: none;
}

.navbar-anchor {
  border: solid 1px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  cursor: grab;
  font-size: 25px;
}
.navbar-link {
  margin: 10px;
  cursor: grab;
}

.navbar-anchor:hover{
  cursor: pointer;
  background: black;
  color: white;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}.ym:nth-child(1){
  filter: hue-rotate(270deg);
}
.ym:nth-child(2){
  filter: hue-rotate(110deg);
}
.ym span{
  position: absolute;
  display: block;
}
.ym span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}


.nav-heading {
  font-size: 10px;
  position: absolute;
  left: 50px;
  top: 0;
  letter-spacing: 10px;
  margin-top: 20px;
}

.main-footer {
  font-size: 10px;
  position: absolute;
  bottom: 1;
  top: 90vh;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -250px;
}

.container{
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  max-width: 1200px;
  width: 90%;
}

.ym{
  position: fixed;
  display: inline-block;
  top: 3%;
  padding: 25px 30px;
  margin: 40px 0;
  color: white;
  background: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
 
}
.ym{
  position: absolute;
  display: inline-block;
  top: 0%;
  left: 0%;
  padding: 25px 30px;
  margin: 40px 0;
  color: white;
background:black;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
 
}
.ym:hover{
  background: black;
  color: white;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}.ym:nth-child(1){
  filter: hue-rotate(270deg);
}
.ym:nth-child(2){
  filter: hue-rotate(110deg);
}
.ym span{
  position: absolute;
  display: block;
}
.ym span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}


img{
  width: 100%;
  max-width: 550px;
}

p{
  display: flex;
  justify-content: center;
}

h1{
  display: flex;
  justify-content: center;
}

.form{
 width: 100%;
 max-width: 550px;
}

label {
  display: none;
}

.button-groups {
  display: flex;
  flex-direction: column; 
}

.button:hover {
  /* background-color: tan; */
}

.button {
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  margin: 5px;
  width: 100%;
  text-decoration: none;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  background: white;
  color: black;
  border: none;
  border: 2px white solid;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.contact-input {
  padding: 20px;
  margin: 10px;
  width: 100%;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  color: white;
  /* border-radius: 10px; */
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}

/* .contact-i {
  display: flex;

  padding-bottom: 3%;
} */

.contact-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.main-box{
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.box{
  border: 3px solid;
  margin-top: 15px;
  padding: 50px;
}

.info {
  display: flex;
  justify-content: center;
}
.icon{
  display: flex;
  justify-content: center;
}

.fas-1 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.item {
  /* margin-top: 90px; */
}

.item-1 {
  margin-top: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 55px;
  font-size: larger;
  margin-top: 5vh;
  /* border: 3px solid black; */
  /* margin-bottom: -400px; */
  margin-left: -75;
}



.icons {
  display: flex;
  flex-direction: row;
  /* padding-top: 50px; */
  justify-content: center;
  margin-top: -50px;
  /* margin-left: -200px; */
}

.fab {
  padding: 10px;
  font-size: 2rem;
  color: white;
}

@media (max-width: 300px) {
  .container {
    flex-direction: column;
  }
  .contact-input {
    width: 150px;
  }
  .card-body {
    margin: 25px 10px;
    width: 45%;
  }
  .footer {
    margin-top: 1vh;
  }
}
@media (max-width: 505px) {
  .container {
    flex-direction: column;
  }
  .contact-input {
    width: 250px;
  }
  .input {
    display: flex;
    justify-content: center;
  }
  .card-body {
    margin: 25px 10px;
    width: 45%;
  }
  .footer {
    margin-top: 1vh;
  }
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .contact-input {
    width: 320px;
  }
  .input {
    display: flex;
    justify-content: center;
  }
  .card-body {
    margin: 25px 10px;
    width: 45%;
  }
  .footer {
    margin-top: 1vh;
  }
}
@media (max-width: 920px) {
  .container {
    flex-direction: column;
  }
  .contact-input {
    width: 300px;
  }
  .input {
    display: flex;
    justify-content: center;
  }
  .card-body {
    margin: 25px 10px;
    width: 45%;
  }
  .footer {
    margin-top: 1vh;
  }
}
