* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /* background-image: url(https://picsum.photos/id/237/1520);
  background-size: cover; */
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 7px;
}

.heading {
  display: contents;
}

body {
  background-color: #f2f2f2;
  font-family: "Cinzel", serif;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: white;
  /* background-image: url(./history.jpg); */
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: -100%;
  left: -100%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  color: aqua;
}

.navbar-link {
  margin: 10px;
}

.navbar-button {
  border: solid 1px;
  margin: 10px;
  padding: 5px;
  color: black;
  text-decoration: none;
}

.navbar-anchor {
  border: solid 1px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: grab;
}
.navbar-link {
  margin: 10px;
  cursor: grab;
}

/* .navbar-anchor:hover {
  cursor: pointer;
} */

.nav-heading {
  font-size: 10px;
  position: absolute;
  left: 50px;
  top: 0;
  letter-spacing: 10px;
  margin-top: 20px;
}

.main-footer {
  font-size: 10px;
  position: absolute;
  bottom: 1;
  top: 90vh;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -250px;
}

.abt {
  margin-left: -100px;
}

.phone {
  padding: 20px;
  margin-left: 600px;
  margin: 20px;
}
.address {
  padding: 20px;
  margin: 20px;
}
.email {
  padding: 20px;
  margin: 20px;
}

.p-icon {
  font-size: 2rem;
}
.a-icon {
  font-size: 2rem;
}
.e-icon {
  font-size: 2rem;
}

.form {
  /* margin-top: 10px; */
  display: flex;
  margin-left: -500px;
}
.contact {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* margin-left: 5%; */
}

.contact-info {
  display: flex;
  flex-direction: row;
}

#contact-form {
  /* background: #eccda9; */
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  /* backdrop-filter: blur(5.5px); */
  /* -webkit-backdrop-filter: blur(5.5px); */
  border-radius: 10px;
  /* border: 10px solid rgba(255, 255, 255, 0.18); */
  /* padding: 100px; */
  color: black;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 15px solid rgba(255, 255, 255, 0.18);
  /* margin-left: 50px; */
  margin-top: -20px;
  margin-left: 50px;
}

.over-form {
  display: flex;
  justify-content: center;
}

.contact-heading {
  text-transform: uppercase;
  /* margin-bottom: 10px; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  font-size: 30px;
  font-family: "Cinzel", serif;
  color: black;
}

label {
  display: none;
}

.button-groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: tan;
}

.button {
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 25px;
  margin: 5px;
  width: 120px;
  text-decoration: none;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
}

.contact-input {
  padding: 20px;
  margin: 10px;
  width: 600px;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  color: black;
  border-radius: 10px;
}

.contact-i {
  display: flex;
  /* margin-left: -500px; */
  padding-bottom: 3%;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: larger;
  margin-top: 3%;
  /* border: 3px solid black; */
  /* margin-bottom: -400px; */
  margin-left: -75;
  /* background-color: white; */
}

.icons {
  display: flex;
  flex-direction: row;
  /* padding-top: 50px; */
  justify-content: center;
  margin-top: -50px;
  /* margin-left: -200px; */
}

.fab {
  padding: 10px;
  font-size: 2rem;
}
