* {
  margin: 0;
  padding: 0;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: white;
  /* background-image: url(./history.jpg); */
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: -100%;
  left: -100%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  color: aqua;
}

.navbar-link {
  margin: 10px;
}

.navbar-button {
  border: solid 1px;
  /* margin: 10px; */
  padding: 5px;
  color: black;
  text-decoration: none;
}

.navbar-anchor {
  border: solid 1px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: grab;
}
.navbar-link {
  margin: 10px;
  cursor: grab;
}

/* .navbar-anchor:hover {
  cursor: pointer;
} */

.heading-4 {
  font-size: 10px;
  position: absolute;
  left: 50px;
  top: 0;
  letter-spacing: 10px;
  margin-top: 20px;
}

.main-footer {
  font-size: 10px;
  position: absolute;
  bottom: 1;
  top: 90vh;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -250px;
}

body {
  background-color: white;
  color: black;
  font-size: larger;
}
.heading {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* font-size: larger; */
  border: 3px solid black;
  background-color: #ebebeb;
}
.con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  justify-content: space-around;
}
.con-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-content: center;
}

.discrip {
  display: flex;
  justify-content: center;
}

.quo {
  display: flex;
  justify-content: center;
}

.auo {
  display: flex;
  justify-content: center;
}

.item {
  width: 600px;
  margin: 10px;
  /* border: 3px solid black; */
  /* background-color: white; */
  padding: 20px;
  width: 900px;
  display: contents;
}

.item-1 {
  margin-right: 55%;
}

.contain {
  display: flex;
  justify-content: center;
  margin-left: 7%;
}

.image {
  /* border-radius: 3px solid black; */
  width: 50%;
}

.img {
  width: 40vw;
  height: 80vh;
  object-fit: cover;
  margin: 5px;
  border-radius: 15%;
}

.text {
  /* margin-right: 20%; */
}

.txt {
  margin-left: 0%;
}

.container {
}

.about {
  border: 3px solid black;
  padding: 10px;
  background: white;
}

.Portfolio {
  border: 3px solid black;
  padding: 10px;
  background: white;
}

.Testimonials {
  border: 3px solid black;
  padding: 10px;
  background: white;
}

.Contact-me {
  border: 3px solid black;
  padding: 10px;
  background: white;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: larger;
  /* border: 3px solid black; */
  /* margin-bottom: -400px; */
  margin-left: -75;
  margin-top: 2%;
  background-color: #f2f2f2;
}

.icons {
  display: flex;
  flex-direction: row;
  /* padding-top: 50px; */
  justify-content: center;
  margin-top: -50px;
  /* margin-left: -200px; */
}

.fab {
  padding: 10px;
  font-size: 2rem;
}
