* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: black;
  /* font-size: larger; */
  font-family: "Cinzel", serif;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: white;
  /* background-image: url(./history.jpg); */
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: -100%;
  left: -100%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  color: aqua;
}

.navbar-link {
  margin: 10px;
}

.navbar-button {
  border: solid 1px;
  /* margin: 10px; */
  padding: 7px;
  color: black;
  text-decoration: none;
}

.nav-ic {
  color: black;
}

.navbar-anchor {
  border: solid 1px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: grab;
}
.navbar-link {
  margin: 10px;
  cursor: grab;
}

/* .navbar-anchor:hover {
      cursor: pointer;
    } */

.heading {
}

.wrapper {
  /* height: 100vh; */
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
  background-color: #ebebeb;
  letter-spacing: 10px;
  font-family: "Cinzel", serif;
}

.typing-demo {
  width: 40ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.image-content {
  display: flex;
  justify-content: center;
}

.image-contain {
  display: flex;
  justify-content: center;
  /* width: 30%; */
  padding: 20px;
}

.img {
  width: 45%;
}

.img-1 {
  border-radius: 20px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 10px;
}

.main-footer {
  margin-top: 7%;
  border: 2px solid;
  background-color: #f2f2f2;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 10px;
}
