* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cinzel", serif;
}

header {
  /* background-image: url(https://picsum.photos/id/237/1520);
  background-size: cover; */
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 7px;
}

.top-heading {
  display: contents;
  /* padding-bottom: 40px; */
}

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: white;
  /* background-image: url(./history.jpg); */
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: -100%;
  left: -100%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  transition: all 0.3s linear;
}

.navbar-links.active {
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  color: aqua;
}

.navbar-link {
  margin: 10px;
}

.navbar-button {
  border: solid 1px;
  margin: 10px;
  padding: 5px;
  color: black;
  text-decoration: none;
}

.navbar-anchor {
  border: solid 1px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  cursor: grab;
}
.navbar-link {
  margin: 10px;
  cursor: grab;
}

/* .navbar-anchor:hover {
  cursor: pointer;
} */

.heading {
  font-size: 10px;
  position: absolute;
  left: 50px;
  top: 0;
  letter-spacing: 10px;
  margin-top: 20px;
}

.main-footer {
  font-size: 10px;
  position: absolute;
  bottom: 1;
  top: 90vh;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -250px;
}

body {
  background-color: white;
}
.con {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  /* flex-wrap: wrap; */
  /* background-color: #f2f2f2; */
}
.con-2 {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  /* flex-wrap: wrap; */
  /* background-color: #f2f2f2; */
}

.card {
  width: 100px;
  margin: 10px;
  /* border: 3px solid #333; */
  /* background-color: #dfdfdf; */
  padding-top: 120px;
  background-color: #f2f2f2;
}

.card-1 {
  height: 300px;
  width: 500px;
}

.card-2 {
  min-height: 300px;
}

.card-3 {
  min-height: 300px;
}
.con {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
}

.card-1 {
  height: 25%;
  width: 25%;
  /* background-color: tan;
  background-color: #ccc; */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px solid white;
  padding: 70px;
  border-radius: 20px;
  /* display: flex; */
  /* justify-content: center; */
  /* color: black; */
  /* margin-top: 60px; */
  /* width: 900px; */
}

.title {
  display: flex;
  justify-content: center;
}

.card-button {
  display: flex;
  justify-content: center;
}

.button-Live {
  border: 2px solid black;
  padding: 5px;
  margin-right: 15px;
  border-radius: 7px;
  text-decoration: none;
}

.button-Git {
  border: 2px solid black;
  padding: 5px;
  margin-right: 15px;
  border-radius: 7px;
  text-decoration: none;
}

.image {
  display: flex;
  justify-content: center;
  margin-top: -8%;
}

.img {
  width: 300px;
  height: 300px;
  border-radius: 10%;
}

.img-2 {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  margin-top: -15%;
}

.content {
  margin-top: -280px;
}

.quote {
  margin-top: 150px;
  line-height: 30px;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
}

.text {
  width: 35%;
}

.name {
  display: flex;
  justify-content: center;
  margin-right: 250px;
  font-family: "Cinzel", serif;
  font-size: 40px;
}
.discription {
  display: flex;
  justify-content: center;
  margin-right: 250px;
  font-family: "Cinzel", serif;
  font-size: 20px;
}

.job-title {
  display: flex;
  justify-content: center;
  margin-right: 250px;
  font-family: "Cinzel", serif;
  font-size: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: larger;
  /* border: 3px solid black; */
  /* margin-bottom: -400px; */
  margin-left: -75;
  margin-top: 2%;
  /* background-color: white; */
  background-color: #f2f2f2;
}

.icons {
  display: flex;
  flex-direction: row;
  /* padding-top: 50px; */
  justify-content: center;
  margin-top: -50px;
  /* margin-left: -200px; */
}

.fab {
  padding: 10px;
  font-size: 2rem;
}
